.PPdred {
    background-color: #8d0801;
}
.PPdredtxt {
    color: #8d0801;
}
.PPred {
    background-color: #bf0603;
}
.PPredtxt {
    color: #bf0603;
}
.PPredHov:link, .PPredHov:visited{
    background-color: #bf0603;
}
.PPredHov:hover, .PPredHov:active{
    background-color: #8d0801;
}
.PPyellow {
    background-color: #f6aa1c;
}
.PPyellowtxt {
    color: #f6aa1c;
}
.PPtan {
    background-color: #f4d58d;
}
.PPtantxt {
    color: #f4d58d;
}
.PPgreen {
    background-color: #708d81;
}
.PPgreentxt {
    color: #708d81;
}
.PPblue {
    background-color: #001427;
}
.PPbluetxt {
    color: #001427;
}
.PPlblue {
    background-color: #669bbc;
}
.PPlbluetxt {
    color: #669bbc;
}
.PPwhite{
    background-color: whitesmoke;
}
.PPwhitetxt {
    color: whitesmoke;
}
.PPblack {
    background-color: black;
}
.PPblacktxt {
    color: black;
}